SA_PASSWORD=Dev@Strong123
REDIS_CONNECTION=localhost:6379
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
SQL_CONNECTION=Server=localhost,1433;Database=DB_COEXISTENCE;User Id=sa;Password=Dev@Strong123;TrustServerCertificate=True
